<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sql.Properties.Settings.KitapMagzasiConnectionString"
            connectionString="Data Source=DESKTOP-DRM8A3J;Initial Catalog=KitapMagzasi;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="sql.Properties.Settings.PersonelConnectionString"
            connectionString="Data Source=DESKTOP-DRM8A3J;Initial Catalog=Personel;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>